apiVersion: 1

providers:
  - name: 'Monero P2Pool'
    orgId: 1
    folder: 'Monero'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: {{ grafana_dashboard_dir }}
