[Unit]
Description=XMRig Monero Miner
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart={{ xmrig_bin }} --config /etc/xmrig/config.json
Restart=on-failure
RestartSec=10

# Allow hugepages access
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
