[Unit]
Description=XMRig Monero Miner
After=network-online.target

[Service]
User=miner
Group=miner
Type=simple
ExecStart={{ xmrig_bin }} --config /etc/xmrig/config.json
Restart=on-failure
RestartSec=10

# Allow hugepages access
LimitMEMLOCK=infinity
AmbientCapabilities=CAP_SYS_RESOURCE
ProtectSystem=strict
ReadWritePaths=/etc/xmrig
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
