[Unit]
Description=XMRig Monero Miner
After=network-online.target

[Service]
User=miner
Group=miner
Type=simple
ExecStart={{ xmrig_bin }} --config /etc/xmrig/config.json
Restart=on-failure
RestartSec=10

# Allow hugepages + MSR access (RandomX performance)
LimitMEMLOCK=infinity
AmbientCapabilities=CAP_SYS_RESOURCE CAP_SYS_RAWIO
ProtectSystem=strict
ReadWritePaths=/etc/xmrig
PrivateTmp=true
NoNewPrivileges=false
PrivateDevices=false
DevicePolicy=auto
ProtectKernelModules=false
ProtectKernelLogs=true
RestrictRealtime=true
LockPersonality=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
CapabilityBoundingSet=CAP_SYS_RESOURCE CAP_SYS_RAWIO

[Install]
WantedBy=multi-user.target
